<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>loading</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-3.3.4-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome-4.3.0/css/font-awesome.min.css">

    <style type="text/css">
    body, html{
        height: 100%;
    }

    .container-fluid{
        background-color: black;
        height: 100%;
        position: relative;
    }

    .ball{
        display: inline-block;
        height: 20px;
        width: 20px;
        background-color: #86bcfc;
        position: absolute;
        top: 50%;
        left: 0;
        border-radius: 50%;
        /*-webkit-animation: move 6s ease-in-out infinite;*/
        opacity: 0;
    }

    </style>

    <script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/static/css/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easing.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){

        var trans = function(ele, left){    
            $(ele).css({
                'left': '-30px'
            })
            .animate({
                'left': left,
                'opacity': 1
            }, 1500, 'easeOutCubic', function(){
                $(this).animate({
                    'left': '100%',
                    'opacity': 0
                }, 1500, 'easeInCubic', function(){

                });
            });
        },

        move = function(){

            window.setTimeout(function(){
                trans('.ball-one', '55%');
            }, 0);

            window.setTimeout(function(){
                trans('.ball-two', '53%');
            }, 200);

            window.setTimeout(function(){
                trans('.ball-three', '51%');
            }, 400);

            window.setTimeout(function(){
                trans('.ball-four', '49%');
            }, 600);

            window.setTimeout(function(){
                trans('.ball-five', '47%');
            }, 800);

            window.setTimeout(function(){
                trans('.ball-six', '45%');
            }, 1000);

        };

        window.setInterval(function(){
            move();
        }, 4200);

        move();
        
    });
    </script>
</head>
<body>
    <div class="container-fluid">
        <span class="ball ball-one"></span>
        <span class="ball ball-two"></span>
        <span class="ball ball-three"></span>
        <span class="ball ball-four"></span>
        <span class="ball ball-five"></span>
        <span class="ball ball-six"></span>
    </div>
</body>
</html>